#Bienvenida {
    
    text-align: center;
    background-image: url('../imagenes/Portada\ 5.jpeg');
    padding: 20px 0px;
}

#Bienvenida p {
    color: rgb(197, 69, 69);
    font-size:1.6em;
    line-height: 2;
    margin: 20px 150px;
    background-color: black;
}

@media screen and (max-width: 550px) {
    #Bienvenida p {
        font-size: 15px;
        padding: 0px 0px;
        margin: 15px 10px;
    }
  }