#Bienvenida {
    text-align: center;
    background-color: rgb(221, 221, 221);
    padding: 20px 0px;
}

#Bienvenida p {
    color: rgb(197, 69, 69);
    font-size:2em;
    line-height: 2;
    margin: 20px 150px;
}

#foto-bienvenida {
    width: 400px;
    margin-top: 30px;
}

@media screen and (max-width: 550px) {
    #Bienvenida p {
        font-size: 15px;
        padding: 0px 0px;
        margin: 15px 10px;
    }
    #foto-bienvenida {
        width: 60vw;
    }
  }