#Bienvenida {
    background-color: #F2F2F2;
    padding: 20px 0px;
    display: flex;
}

#Bienvenida img {
    width: 500px;
    margin-left: 40px;
}
#text-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    font-size:1.5em;
    line-height: 2;
    width: 60%; /* Ajusta el ancho del texto según sea necesario */
    margin: 0 40px;
    text-align: justify;
}





@media screen and (max-width: 550px) {
    #Bienvenida p {
        font-size: 15px;
        padding: 0px 0px;
        margin: 15px 10px;
    }
    #foto-bienvenida {
        width: 60vw;
    }
  }