footer {
    background-color: hsl(0, 56%, 42%);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    height: 90px;
    width: auto;
    margin-right: auto;
    padding-left: 10px;

}

footer h6 {
    font-size: 20px;
    margin-right: auto;
}


.contacto img {
    width: 30px;
    height: auto;
    padding-right: 10px;
}


@media screen and (max-width: 550px) {
    footer img {
        width: 70px;
        height: auto;
    }
    footer h6 {
        font-size: 14px;
        margin-left: 10px;
    } 
    .contacto img {
        width: 20px;
        margin-left: 0px;
    }
  }