body {
}

body h1 {
  color: rgb(191, 49, 49);
  margin: 0;
  font-size: 40px;
  width: fit-content;
  font-weight: bold;
  background-color: #000000; /* Cambia #ffcc00 al color que desees para el resaltado */
}

.resaltado {
  background-color: black;
}  